* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    min-height: 100mv;
}

header {
    background-color: purple;
    text-align: right;
    position: relative;
    width: 100%;
}

li {
    display: inline;
    padding: 0 20px;  
}

a {
    color: white;
    text-decoration: none;

}

header, footer {
    height: 60px;
    line-height: 60px;
}

main {
    padding: auto;
    margin: 0;
}

figcaption {
    text-align: center;
    padding: 15px 0;
}

li {
    color: white;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    width: 300px;
}

img {
    display: block;
    width: 500px;
    margin: 0 auto;
}
#contact {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    color: darkgoldenrod;
    background-color: purple;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: solid 5px gold;
}

.text-center {
    text-align: center;
    padding: 10px 0;
}

footer {
    position: absolute;
    bottom: 0;
}